<ion-header no-border>
    <ion-toolbar >
      <ion-title  class="txt_Title">Product List</ion-title>
    </ion-toolbar>
</ion-header>

<!-- <ion-header>
  <ion-toolbar color="primary">

    <ion-title *ngIf="!isSearchOpened" >
      Product List
    </ion-title>
    <ion-searchbar color="light" *ngIf="isSearchOpened" showCancelButton="true" (ionCancel)="isSearchOpened=false" [(ngModel)]="terms"></ion-searchbar>
    <ion-buttons end>
      <ion-button icon-only *ngIf="!isSearchOpened" (click)="isSearchOpened=true" >
        <ion-icon name="search" md="md-search" ios="ios-search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <!-- <ion-searchbar color="light" [(ngModel)]="terms"></ion-searchbar> -->
  <!-- <ion-button type="button" (click)="sort()" expand="full">Sort</ion-button> -->

  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
    <!-- <ion-item>
      <ion-label>Select search type</ion-label>
      <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
        <ion-select-option value="">All</ion-select-option>
        <ion-select-option value="title">Product name</ion-select-option>
        <ion-select-option value="brand">Brand</ion-select-option>
        <ion-select-option value="type">Type</ion-select-option>
      </ion-select>
 
  </ion-item> -->


  <!-- <ion-list>
      <app-product-item *ngFor="let product of products" [productItem]="product">
      </app-product-item>
  </ion-list> -->
    <ion-list padding> 
      <ion-item *ngFor="let product of products | search : terms | sort: {property: column, order: order}" [routerLink]="['/products', product._id]"  >
        <ion-avatar slot="start">
          <ion-img [src]="product.imageUrl" *ngIf="product.imageUrl != 'N/A'"></ion-img>
        </ion-avatar>
        <ion-label text-wrap>
          {{ product.title }}
        </ion-label>

        <!-- add icon depending on product type -->
        <ion-icon color="success" slot="end" *ngIf="product.type == 'Moisturiser'" name="leaf" ios="ios-leaf" md="md-leaf" ></ion-icon>
        <ion-icon slot="warning" *ngIf="product.type == 'serum'" name="rose" ios="ios-rose" md="md-rose" ></ion-icon>
        <ion-icon color="primary"  slot="end" *ngIf="product.type == 'Micellar water'" name="water" ios="ios-water" md="md-water" ></ion-icon>

      </ion-item> 
    </ion-list> 

    <!-- <button ion-button (click)="GoHome()" >Home</button> -->

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <!-- <button ion-button no-margin full large (click)="GoHome()">Home</button> -->
    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-button expand="full" (click)="AddProduct()">Add</ion-button>
        </ion-col>
        <ion-col>
            <ion-button expand="full" (click)="GoHome()">Scan</ion-button>

          </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <ion-title text-center [routerLink]="['/home']">Home</ion-title> -->
  </ion-toolbar>
</ion-footer>
