<ion-header no-border>
    <ion-toolbar >
      <ion-title  class="txt_Title">Product List</ion-title>
    </ion-toolbar>
</ion-header>

<!-- <ion-header>
  <ion-toolbar color="primary">

    <ion-title *ngIf="!isSearchOpened" >
      Product List
    </ion-title>
    <ion-searchbar color="light" *ngIf="isSearchOpened" showCancelButton="true" (ionCancel)="isSearchOpened=false" [(ngModel)]="terms"></ion-searchbar>
    <ion-buttons end>
      <ion-button icon-only *ngIf="!isSearchOpened" (click)="isSearchOpened=true" >
        <ion-icon name="search" md="md-search" ios="ios-search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <ion-searchbar color="light" [(ngModel)]="terms"></ion-searchbar>
  <!-- <ion-button type="button" (click)="sort()" expand="full">Sort</ion-button> -->

  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  
    <ion-list padding> 
      <ion-item *ngFor="let product of products | search : terms | sort: {property: column, order: order}" [routerLink]="['/products', product._id]"  >
        <ion-avatar slot="start">
          <ion-img [src]="product.imageUrl" *ngIf="product.imageUrl != 'N/A'"></ion-img>
        </ion-avatar>
        <ion-label text-wrap>
          {{ product.title }}
        </ion-label>

        <!-- add icon depending on product type -->
        <ion-icon color="success" slot="end" *ngIf="product.type == 'Moisturiser'" name="leaf" ios="ios-leaf" md="md-leaf" ></ion-icon>
        <ion-icon color="success" slot="end" *ngIf="product.type == 'hair conditioning'" name="leaf" ios="ios-leaf" md="md-leaf" ></ion-icon>

        <ion-icon slot="warning" slot="end" *ngIf="product.type == 'condotioner'" name="rose" ios="ios-rose" md="md-rose" ></ion-icon>
        <ion-icon slot="warning" slot="end" *ngIf="product.type == 'hair serum'" name="rose" ios="ios-rose" md="md-rose" ></ion-icon>
        <ion-icon slot="warning" slot="end" *ngIf="product.type == 'body butter'" name="rose" ios="ios-rose" md="md-rose" ></ion-icon>
        
        <ion-icon color="primary"  slot="end" *ngIf="product.type == 'hans cream'" name="water" ios="ios-water" md="md-water" ></ion-icon>
        <ion-icon color="primary"  slot="end" *ngIf="product.type == 'Micellar water'" name="water" ios="ios-water" md="md-water" ></ion-icon>

      </ion-item> 
    </ion-list> 

<ion-button expand="full" (click)="AddProduct()">Add</ion-button>

</ion-content>
