<ion-header>
  <ion-toolbar class="new-background-color">
        <ion-title>Cosmetic Analyser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-image">
  <img src="assets/images/banner.png" alt="">
  <ion-list>

    <ion-item>
      <ion-label fixed>Product</ion-label>
      <ion-input type="text" value="" [(ngModel)]="num"></ion-input>
    </ion-item>

   
      <ion-button expand="full" fill="solid" color="light" (click)="scan()"><ion-icon slot="start" name="qr-scanner"></ion-icon> Scan</ion-button>
  
  </ion-list>

</ion-content>
