<!-- <ion-header>
  <ion-toolbar class="new-background-color">
        <ion-title>Cosmetic Analyser</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding class="bg-image">
    <ion-img width="80" height="80" src="assets/images/banner.png" id="ScanImage"></ion-img>
    <!-- <img src="assets/images/banner.png" alt=""> -->
    <!-- <ion-item>
      <ion-label fixed>Product</ion-label>
      <ion-input type="text" value="" [(ngModel)]="num"></ion-input>
    </ion-item> -->
    <ion-item>
        <ion-label class="txt_Scan_Label">Scan product to analyse ingredients</ion-label>
    </ion-item>
<!-- 
    <ion-text class="txtLabel">
        <h1>Scan product to analyse ingredients</h1>
    </ion-text> -->
   
    <ion-button color="primary" expand="block" fill="solid" (click)="scan()"><ion-icon slot="start" name="qr-scanner"></ion-icon> Scan</ion-button>
  

</ion-content>

<!-- <ion-footer>
  <ion-toolbar color="primary">
    <ion-title text-center [routerLink]="['/products']">Product List</ion-title>
  </ion-toolbar>
</ion-footer> -->